NEXT_PUBLIC_SUPABASE_URL=https://rzqahbfuefcrtmcfidha.supabase.co
NEXT_PUBLIC_SUPABASE_ANON_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6InJ6cWFoYmZ1ZWZjcnRtY2ZpZGhhIiwicm9sZSI6ImFub24iLCJpYXQiOjE3ODM5Mjc4NDEsImV4cCI6MjA5OTUwMzg0MX0.19_QjETFeAqTi3-FyY_UUzeXLCCGod1NlsJyXcDgK5A
NEXT_PUBLIC_WHATSAPP_NUMBER=254700000000
NEXT_PUBLIC_MPESA_TILL=0110696113